@import "../Mixins.scss";

.footer {
  width: 100%;
  background: linear-gradient(178.98deg, #020202 3.72%, #0A4C61 160.38%);
  padding: 40px 5%;
  &__logo {
    width: 200px;
    object-fit: contain;
  }
  &__nav {
    @include flex(space-between);
    margin-bottom: 50px;
  }
  &__nav-list {
    @include flex(center);
    list-style: none;
  }
  &__nav-list-item {
    padding: 0 20px;
    border-right: 1px solid #FFFFFF;
    &:last-child {
      border-right: none;
    }
  }
  &__link {
    @include text(1.1rem, 900, 1.5rem);
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
  }
  &__legend {
    @include text(1rem, 300, 1.4rem);
    width: 100%;
    color: #FFFFFF;
  }
  @include for-size(desktop) {
    &__nav {
      flex-wrap: wrap;
    }
    &__logo,
    &__nav-list {
      margin: 50px 0 0;
    }
  }
  @include for-size(tablet-portrait) {
    &__nav-list {
      flex-wrap: wrap;
    }
    &__nav-list {
      justify-content: flex-start;
    }
    &__nav-list-item {
      width: max-content;
      border-right: none;
      margin: 15px 0;
    }
  }
  @include for-size(phone-large) {
    &__nav-list-item {
      padding: 0 10px;
    }
  }
  @include for-size(phone-small) {
    &__logo {
      margin: 0;
    }
  }
}
