@import "../Mixins.scss";

.header {
  @include flex(space-between);
  @include fixed-container();
  position: absolute;
  padding: 20px 0;
  top: 0;
  left: 4%;
  right: 4%;
  &__logo {
    width: 250px;
    object-fit: contain;
  }
  &__list {
    @include flex(center);
    list-style: none;
  }
  &__list-item {
    position: relative;
    margin: 0 10px;
    padding: 0 10px;
    &:hover {
      border-bottom: 1px solid #00CBD8;
      &::after,
      &::before {
        position: absolute;
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background-color: #FFFFFF;
        bottom: -2px;
      }
      &::after {
        right: 0;
      }
      &::before {
        left: 0;
      }
    }
  }
  &__list-item-link {
    @include text(1.2rem, 800, 1.6rem);
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__action {
    width: 26px;
    height: 26px;
  }
  &__action-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__nav {
    position: absolute;
    display: none;
    width: 30%;
    max-width: 320px;
    background: #041B22;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.71);
    z-index: 1;
    &--active {
      display: block;
      top: 100px;
      right: -4%;
    }
  }
  &__nav-list {
    @include flex(center);
    flex-direction: column;
    list-style: none;
  }
  &__nav-item {
    width: 100%;
    &:first-child {
      display: none;
    }
  }
  &__nav-item-link {
    @include flex(flex-start);
    @include text(1.2rem, 800, 1.6rem);
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
      background-color: lighten(#041B22, 1);
    }
  }
  &__nav-item-icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    object-fit: cover;
  }
  @include for-size(tablet-portrait) {
    &__list-item {
      &:nth-child(1),
      &:nth-child(2) {
        display: none;
      }
    }
    &__list-item-link {
      margin: 0 10px;
    }
    &__nav {
      width: 55%;
    }
    &__nav-item {
      &:first-child {
        @include flex(center);
        padding: 30px 20px;
      }
    }
  }
  @include for-size(phone-large) {
    &__logo {
      width: 150px;
    }
    &__list-item {
      padding: 0;
    }
    &__nav {
      position: fixed;
      width: 80%;
      max-width: none;
      min-height: calc(100vh - 80px);
      top: 80px;
      &--active {
        right: 0;
      }
    }
  }
}

.language {
  @include flex(center);
  @include text(1.2rem, 800, 1.6rem);
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  &:hover &__menu,
  &:active &__menu {
    display: flex;
  }
  &__icon {
    width: 26px;
    height: 26px;
    margin-right: 6px;
    object-fit: cover;
  }
  &__menu {
    @include flex(center);
    position: absolute;
    display: none;
    background: #041B22;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.71);
    flex-direction: column;
  }
  &__menu-button {
    @include text(1.4rem, 800, 1.6rem);
    min-width: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px;
    &:disabled {
      color: #a19e9e;
    }
    &:not(:disabled):hover {
      background-color: lighten(#041B22, 1);
    }
  }
}