@import "../Mixins.scss";

.about {
	&__container{
		@include fixed-container();
		color: white;
		padding: 200px 0;
	}
	&__hero{
		@include background();
		background-image: url("../../assets/images/bg-hero-nosotros.png");
		background-position: bottom;
	}
	&__hero-title{
		@include text(3rem, 300, 4.1rem);
		text-align: center;
	}
	&__hero-text{
		width: 100%;
		max-width: 600px;
		margin: 100px 0;
	}
	&__hero-subtitle{
		@include text(2.4rem, bold, 3.3rem);
		margin: 30px 0;
	}
	&__grid {
		@include flex(space-evenly);
		width: 100%;
		padding: 60px 16px;
		background: #FAFAFA;
		box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
		flex-wrap: wrap;
		grid-gap: 30px;
		&--four {
			background: #FFFFFF;
			box-shadow: none;
			padding: 60px 0;
		}
	}
	&__item {
		width: 100%;
		max-width: 320px;
		place-self: start center;
		&:nth-child(1) &-title {
			&::after {
				background-image: url("../../assets/images/icons/about-icon-1.svg");
			}
		}
		&:nth-child(2) &-title {
			&::after {	
				background-image: url("../../assets/images/icons/about-icon-2.svg");
			}
		}
		&:nth-child(3) &-title {
			&::after {
				background-image: url("../../assets/images/icons/about-icon-3.svg");
			}
		}
	}
	&__item-title {
		@include text(1.4rem, 300, 1.9rem);
		text-transform: uppercase;
		text-align: center;
		color: #FFFFFF;
		position: relative;
		padding: 20px 0;
		margin-bottom: 30px;
		background: #062B37;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		&::after {
			position: absolute;
			content: "";
			width: 30px;
			height: 30px;
			background-color: #00CBD8;
			border: 10px solid #00CBD8;
			top: -25px;
			right: -20px;
		}
	}
	&__item-text {
		@include text(1.4rem, normal, 2.1rem);
		text-align: center;
	}
	&__section-two {
		width: 100%;
		padding: 70px 16px;
		background-image: url("../../assets/images/bg-nosotros.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__section-two-title {
		@include text(3rem, 300, 4.1rem);
		text-align: center;
		text-transform: uppercase;
	}
	&__section-two-content {
		@include fixed-container();
		@include flex(center);
		flex-wrap: wrap;
		grid-gap: 30px;
		margin: 60px auto;
	}
	&__section-two-item {
		@include flex(center);
		width: 30%;
	}
	&__section-two-item-icon {
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}
	&__section-two-item-text {
		@include text(1.4rem, 300, 1.9rem);
	}
	&__section-three {
		width: 100%;
		padding: 30px 16px;
		background: linear-gradient(178.98deg, #020202 3.72%, #0A4C61 160.38%);
	}
	&__section-three-title {
		@include text(3rem, 300, 4.1rem);
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	&__section-three-content {
		@include flex(center);
		margin: 40px 0;
		flex-wrap: wrap;
		grid-gap: 30px;
	}
	&__section-three-list {
		list-style: url("../../assets/images/icons/about-icon-9.svg");
	}
	&__section-three-list-item {
		@include text(1.4rem, normal, 3.6rem);
		color: #FFFFFF;
		&::marker {
			font-size: 3rem;
		}
	}
	&__section-three-image {
		width: 100%;
		max-width: 500px;
	}
	&__section-four {
		width: 100%;
		padding: 60px 16px;
	}
	&__section-four-title {
		@include text(3.3rem, 300, 4.5rem);
		text-align: center;
	}
	&__section-four-card {
		place-self: start center;
		width: 100%;
		max-width: 400px;
		height: 100%;
		padding: 25px 25px 40px;
		background-color: #FFFFFF;
		background-image: url("../../assets/images/icons/about-icon-10.svg");
		background-repeat: no-repeat;
		background-position: 95% 95%;
		background-size: 60px 60px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	&__section-four-card-header {
		@include flex(space-between);
		margin-bottom: 20px;
	}
	&__section-four-card-image {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}
	&__section-four-card-user {
		@include flex(center);
		@include text(1.4rem, bold, 2.1rem);
		align-items: flex-end;
		flex-direction: column;
	}
	&__section-four-card-user-text {
		font-weight: normal;
	}
	&__section-four-card-text {
		@include text(1.4rem, normal, 2.1rem);
		font-style: italic;
	}
	@include for-size(tablet-portrait){
		&__container{
			padding: 100px 0;
		}
		&__section-two-item {
			width: 45%;
		}
		&__section-three-list {
			padding-left: 20px;
		}
	}
	@include for-size(phone-large) {
		&__item {
			padding: 16px;
		}
		&__section-two-item {
			width: 100%;
			justify-content: flex-start;
		}
	}
}
