@import "../Mixins.scss";

$hero: url("../../assets/images/education-hero.jpg");
$education-1: url("../../assets/images/education-1.png");
$education-2: url("../../assets/images/education-2.png");
$education-3: url("../../assets/images/education-3.png");
$education-4: url("../../assets/images/education-4.png");
$education-5: url("../../assets/images/education-5.png");
$education-6: url("../../assets/images/education-6.png");

.education {
  width: 100%;
  &__hero {
    width: 100%;
  }
  &__hero-title {
    @include text(3rem, 300, 4.1rem);
    margin-bottom: 60px;
    color: #ffffff;
    text-align: center;
  }
  &__hero-content {
    width: 100%;
    padding: 120px 16px 60px;
    background: linear-gradient(178.98deg, #020202 3.72%, #0a4c61 160.38%);
  }
  &__hero-flex {
    @include flex(space-evenly);
    width: 100%;
    margin-bottom: -250px;
    align-items: flex-start;
  }
  &__hero-texts {
  }
  &__hero-text {
    @include text(1.4rem, normal, 2.1rem);
    color: #ffffff;
    max-width: 385px;
    &--small {
      color: #000000;
      margin-top: 150px;
    }
    &--mobile {
      display: none;
    }
  }
  &__hero-image {
    position: relative;
    width: 100%;
    max-width: 550px;
    min-height: 390px;
    background-image: $hero;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::after,
    &::before {
      position: absolute;
      content: "";
    }
    &::before {
      width: 82px;
      height: 82px;
      background-color: #114b53;
      top: -30px;
      right: -30px;
    }
    &::after {
      width: 56px;
      height: 56px;
      background-color: #00cbd8;
      top: -50px;
      right: -50px;
    }
  }
  &__section-one {
    width: 100%;
    padding: 250px 16px 60px;
  }
  &__section-one-title {
    @include text(1.8rem, bold, 2.8rem);
    color: #3f3f3f;
    text-align: center;
  }
  &__section-one-content {
    @include fixed-container();
    @include grid(repeat(3, 1fr), 50px);
    margin: 100px auto;
  }
  &__section-one-item {
    width: 100%;
  }
  &__section-one-item-title {
    @include text(1.4rem, 700, 2.1rem);
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #062b37;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }
  &__section-one-item-text {
    @include text(1.4rem, normal, 2.1rem);
    text-align: center;
  }
  &__section-one-subtitle {
    @include fixed-container();
    @include text(2.4rem, bold, 3.7rem);
    text-align: center;
    text-transform: uppercase;
  }
  &__section {
    @include fixed-container();
  }
  &__section-content {
    @include grid(repeat(3, 1fr), 50px);
    margin: 100px auto;
  }
  &__section-item {
    @include flex(center);
    justify-content: flex-start;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    &--1,
    &--2,
    &--3,
    &--4,
    &--5,
    &--6 {
      min-height: 285px;
    }
    &--1 {
      background-image: $education-1;
    }
    &--2 {
      background-image: $education-2;
    }
    &--3 {
      background-image: $education-3;
    }
    &--4 {
      background-image: $education-4;
    }
    &--5 {
      background-image: $education-5;
    }
    &--6 {
      background-image: $education-6;
    }
  }
  &__section-item-text {
    @include text(2.3rem, 800, 3.1rem);
    margin: 20px 0;
    color: #ffffff;
    text-align: center;
    &--black {
      margin: 50px 0;
      font-size: 1.8rem;
      line-height: 2.5rem;
      text-align: start;
      color: #000000;
    }
  }
  &__section-item-image {
    width: 100%;
    max-width: 205px;
    object-fit: cover;
  }
  &__section-button {
    @include flex(center);
    @include primary-button();
    margin: 0 auto;
    &::after,
    &::before,
    p::after,
    p::before {
      background-color: #0a4c61;
    }
    p {
      color: #0a4c61;
      text-transform: uppercase;
    }
  }
  &__section-button-text {
  }
  &__section-button-icon {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    object-fit: cover;
  }
  &__text {
    @include fixed-container();
    margin: 100px auto;
  }
  &__text-title {
    @include text(2.4rem, 700, 3.6rem);
    text-transform: uppercase;
  }
  &__text-description {
    @include text(1.8rem, 700, 2.7rem);
  }
  &__text-title,
  &__text-description {
    text-align: center;
  }
  @include for-size(big-desktop) {
    &__hero-content {
      padding: 120px 16px 100px;
    }
    &__hero-text {
      &--small {
        margin-top: 100px;
      }
    }
    &__hero-image {
      max-width: 450px;
      min-height: 300px;
      &::before {
        width: 70px;
        height: 70px;
        top: -25px;
        right: -25px;
      }
      &::after {
        width: 50px;
        height: 50px;
        top: -40px;
        right: -40px;
      }
    }
  }
  @include for-size(desktop) {
    &__hero-content {
      padding: 120px 16px;
    }
    &__hero-text {
      &--small {
        margin-top: 80px;
      }
    }
    &__hero-image {
      max-width: 350px;
      min-height: 200px;
      &::before {
        width: 50px;
        height: 50px;
        top: -10px;
        right: -10px;
      }
      &::after {
        width: 35px;
        height: 35px;
        top: -20px;
        right: -20px;
      }
    }
    &__section-content {
      margin: 70px auto;
    }
    &__section-item {
      &--1,
      &--2,
      &--3,
      &--4,
      &--5,
      &--6 {
        min-height: 200px;
      }
    }
    &__section-item-image {
      max-width: 150px;
    }
    &__section-item-text {
      &--black {
        margin: 25px 0;
      }
    }
  }
  @include for-size(tablet-portrait) {
    &__hero-title {
      margin-bottom: 30px;
    }
    &__hero-flex {
      flex-wrap: wrap;
      margin-bottom: -300px;
    }
    &__hero-image {
      margin: 40px 0;
    }
    &__hero-text {
      &--small {
        display: none;
      }
      &--mobile {
        display: block;
        margin-top: 0;
      }
    }
    &__section-content,
    &__section-one-content {
      @include flex(space-evenly);
      margin: 80px auto;
      flex-wrap: wrap;
      grid-gap: 25px;
    }
    &__section-item,
    &__section-one-item {
      width: calc(50% - 25px);
    }
  }
  @include for-size(phone-xlarge) {
    &__section-item,
    &__section-one-item {
      width: 100%;
    }
  }
  @include for-size(phone-large) {
    &__hero-image {
      max-width: 250px;
      min-height: 160px;
      &::before {
        top: -15px;
        right: -15px;
      }
      &::after {
        top: -20px;
        right: -20px;
      }
    }
  }
}
