@import "../Mixins.scss";

.home {
  &__hero {
    @include background();
    background-image: url("../../assets/images/bghero.png");
    color: white;
    padding: 200px 0;
  }
  &__hero-container {
    @include fixed-container();
  }
  &__hero-text {
    max-width: 800px;
    width: 100%;
  }
  &__hero-title {
    @include text(3.7rem, bold, 5rem);
    text-transform: uppercase;
  }
  &__hero-paragraph {
    @include text(2.6rem, normal, 3.5rem);
    letter-spacing: 0.07em;
  }
  &__hero-actions {
    margin: 20px 0;
    display: block;
  }
  &__hero-button {
    @include flex(center);
    @include primary-button();
    display: inline-flex;
    margin-right: 40px;
    margin-top: 10px;
  }
  &__hero-icon {
    width: 30px;
    margin-left: 10px;
  }

  // Forex
  &__forex {
    background-color: black;
  }
  &__forex-container {
    @include fixed-container();
    @include grid(1fr 1fr, 30px);
    padding: 100px 0 0;
    color: white;
  }
  &__forex-box {
    position: relative;
  }
  &__forex-image {
    width: 100%;
    position: absolute;
  }
  &__forex-title {
    @include text(4rem, bold, 5.5rem);
    margin: 50px 0;
  }
  &__forex-text {
    @include text(1.4rem, normal, 2.1rem);
    min-height: 250px;
  }

  //Tools
  &__tools {
    background: #fafafa;
  }
  &__tools-container {
    @include fixed-container();
    padding: 150px 0 100px;
    color: #3f3f3f;
    text-align: center;
  }
  &__tools-title {
    @include text(3rem, 300, 4.1rem);
  }
  &__tools-text {
    @include text(1.4rem, 300, 2.2rem);
  }

  // market
  &__market {
    @include background();
    background-image: url("../../assets/images/bg3.png");
  }
  &__market-container {
    @include fixed-container();
    @include grid(1fr 1fr, 30px);
    color: white;
    padding: 100px 0;
  }
  &__market-box {
    &--image {
      @include flex(center);
    }
  }
  &__market-image {
    width: 60%;
    max-width: 350px;
  }
  &__market-list {
    @include grid(1fr 1fr, 30px);
    list-style: none;
  }
  &__market-title {
    @include text(2.2rem, bold, 3rem);
  }
  &__market-list {
    margin: 30px 0;
  }
  &__market-item {
    @include flex(center);
    justify-content: flex-start;
    @include text(1.4rem, normal, 1.9rem);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-image: url("../../assets/images/check-circle.png");
    background-position: left;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
    min-height: 40px;
    vertical-align: center;
  }
  &__market-button {
    @include primary-button();
    @include flex(center);
  }
  &__why-container {
    @include fixed-container();
    padding: 100px 0;
  }
  &__why-title {
    @include text(3.3rem, 300, 4.5rem);
    text-align: center;
  }
  &__why-grid {
    @include grid(repeat(4, 1fr), 30px);
    margin: 50px 0;
  }
  &__why-name {
    @include text(1.2rem, 300, 1.8rem);
    background: #062b37;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
  }
  &__why-text {
    padding: 30px;
    border: 1px solid #062d3a;
    border-radius: 8px;
    min-height: 220px;
    text-align: center;
  }
  // Steps
  &__steps {
    @include background();
    background-image: url("../../assets/images/bg3.png");
  }
  &__steps-container {
    @include fixed-container();
    color: white;
    padding: 100px 0;
  }
  &__steps-list {
    list-style: none;
  }
  &__steps-item {
    margin: 50px 0;
    padding-left: 80px;
    position: relative;
  }
  &__steps-name {
    @include text(1.6rem, bold, 2.4rem);
    color: #00cbd8;
  }
  &__steps-text {
    @include text(1.4rem, bold, 2.1rem);
  }
  &__steps-number {
    @include flex(center);
    position: absolute;
    top: 5px;
    left: 5px;
    background: #00cbd8;
    width: 40px;
    height: 40px;
    color: black;
  }
  &__steps-grid {
    @include grid(1fr 1fr, 30px);
  }
  &__steps-button {
    @include primary-button();
    @include flex(center);
  }
  &__steps-box--button {
    @include flex(center);
    align-items: flex-end;
    padding: 50px 0;
  }

  @include for-size(desktop) {
    &__why-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @include for-size(tablet-landscape) {
    &__forex-container {
      grid-template-columns: 1fr;
    }
    &__forex-image {
      position: relative;
    }
    &__forex-text {
      min-height: 0;
    }
    &__market-container {
      grid-template-columns: 1fr;
    }
    &__steps-grid {
      grid-template-columns: 1fr;
    }
  }
  @include for-size(tablet-portrait) {
    &__hero {
      padding: 100px 0;
    }
    &__hero-title {
      font-size: 2.7rem;
    }
    &__hero-paragraph {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
    &__forex-container {
      padding-top: 50px;
    }
    &__forex-title {
      font-size: 3rem;
    }
    &__why-grid {
      grid-template-columns: 1fr;
    }
  }
  @include for-size(phone-large) {
    &__market-list {
      grid-template-columns: 1fr;
    }
  }
}
