@import "../Mixins.scss";

.market {
  width: 100%;
  &__hero {
    width: 100%;
    padding: 120px 0 60px;
    background: linear-gradient(178.98deg, #020202 3.72%, #0A4C61 160.38%);
  }
  &__hero-title {
    @include text(3rem, 300, 4.1rem);
    margin: 30px 0 60px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
  }
  &__hero-tabs {
    @include flex(center);
    @include fixed-container();
    width: 100%;
    padding: 0 16px;
    grid-gap: 20px;
  }
  &__hero-tab {
    @include primary-button();
    width: 100%;
    padding: 8px 10px;
    background-color: rgba(0, 203, 216, 0.26);
    border: 1px solid #00CBD8;
    border-radius: 33px;
    text-decoration: none;
  }
  &__hero-tab-text {
    text-align: center;
  }
  &__section {
    width: 100%;
    padding: 100px 0;
    &--background {
      background: linear-gradient(178.98deg, #020202 3.72%, #0A4C61 160.38%);
    }
  }
  &__section-content {
    @include fixed-container();
    @include flex(space-between);
    grid-gap: 40px;
    &--reverse {
      flex-direction: row-reverse;
    }
  }
  &__section-left {
    max-width: 750px;
    color: #FFFFFF;
    &--reverse {
      color: #000000;
    }
  }
  &__section-right {
    position: relative;
  }
  &__section-title {
    @extend .market__hero-title;
    margin: 0 0 20px;
    text-align: start;
    color: inherit
  }
  &__section-subtitle {
    @include text(6.2rem, bold, 8.5rem);
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px #000000;
    bottom: -5px;
    left: -50px;
    &--reverse {
      left: unset;
      right: -70px;
    }
  }
  &__section-text {
    @include text(1.4rem, normal, 2.1rem);
    text-align: justify;
  }
  &__section-image {
    max-width: 390px;
    object-fit: cover;
    border-radius: 16px;
  }
  @include for-size(big-desktop) {
    &__hero-tabs {
      flex-wrap: wrap;
    }
    &__hero-tab {
      width: 20%;
    }
  }
  @include for-size(desktop) {
    &__hero-tab {
      width: 30%;
    }
    &__section-image {
      max-width: 300px;
    }
    &__section-content {
      grid-gap: 60px;
    }
    &__section-subtitle {
      font-size: 5.6rem;
      line-height: 7rem;
      left: -40px;
      &--reverse {
        left: unset;
        right: -40px;
      }
    }
  }
  @include for-size(tablet-portrait) {
    &__hero-tab {
      width: 45%;
    }
    &__section-content {
      flex-direction: column;
      &--reverse {
        flex-direction: column;
      }
    }
    &__section-subtitle {
      font-size: 5rem;
      left: -30px;
      &--reverse {
        left: unset;
        right: -30px;
      }
    }
  }
  @include for-size(phone-large) {
    &__section-subtitle {
      font-size: 3.6rem;
      line-height: 4rem;
    }
  }
  @include for-size(phone-small) {
    &__hero-tab {
      width: 100%;
    }
    &__section-subtitle {
      font-size: 3rem;
      left: 0;
      right: 0;
      &--reverse {
        left: 0;
        right: 0;
      }
    }
  }
}
