@import "../Mixins.scss";

.not-found {
  @include flex(center);
  padding: 120px 16px;
  min-height: calc(100vh - 265px);
  background: linear-gradient(178.98deg, #020202 3.72%, #0A4C61 160.38%);
  flex-direction: column;
  &__title,
  &__text {
    @include text(3rem, bold, 4.1rem);
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
  }
  &__text {
    font-size: 2rem;
    font-weight: 300;
  }
  @include for-size(tablet-portrait) {
    &__title {
      font-size: 2.4rem;
    }
    &__text {
      font-size: 1.8rem;
    }
  }
}