@import "../Mixins.scss";

.platform {
  width: 100%;
  &__section-one {
    width: 100%;
  }
  &__section-one-hero {
    @include flex(center);
    width: 100%;
    padding: 150px 16px 50px;
    background: linear-gradient(178.98deg, #020202 3.72%, #0A4C61 160.38%);
    flex-direction: column;
  }
  &__section-one-title {
    @include text(3rem, 300, 4.1rem);
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #FFFFFF;
  }
  &__section-one-image {
    width: 90%;
    max-width: 1000px;
    margin-bottom: -250px;
  }
  &__section-one-text {
    @include text(1.4rem, normal, 2.1rem);
    max-width: 1000px;
    margin: 250px auto 100px;
    padding: 0 16px;
    text-align: center;
  }
  &__section-two {
    @include flex(space-evenly);
    width: 100%;
    min-height: 580px;
    padding: 30px 16px;
    background-image: url("../../assets/images/bg-nosotros.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
    flex-wrap: wrap;
  }
  &__section-two-title {
    @include text(3rem, 300, 4.1rem);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  &__section-two-list {
    max-width: 300px;
    padding-left: 22px;
  }
  &__section-two-list-item {
    @include text(1.4rem, normal, 1.9rem);
    margin: 25px 0;
    list-style: url("../../assets/images/icons/about-icon-9.svg");
    &::marker {
      font-size: 3rem;
    }
  }
  &__section-three {
    @include flex(center);
    width: 100%;
    background: linear-gradient(178.98deg, #020202 3.72%, #0A4C61 160.38%);
    flex-wrap: wrap;
  }
  &__section-three-side {
    width: 55%;
    padding: 20px 16px;
  }
  &__section-three-title {
    @include text(3rem, 300, 4.1rem);
    max-width: 550px;
    margin: 20px auto;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  &__section-three-text {
    @include text(1.4rem, normal, 1.9rem);
    max-width: 550px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: justify;
    strong {
      display: block;
    }
  }
  &__section-three-image {
    width: 45%;
    max-height: 700px;
    object-fit: cover;
  }
  @include for-size(big-desktop) {
    &__section-three-side {
      width: 60%;
    }
    &__section-three-image {
      width: 40%;
    }
  }
  @include for-size(desktop) {
    &__section-one-image {
      margin-bottom: -200px;
    }
    &__section-one-text {
      margin: 200px auto 100px;
    }
  }
  @include for-size(tablet-landscape) {
    &__section-three-side,
    &__section-three-image {
      width: 100%;
    }
    &__section-three-image {
      max-height: 400px;
    }
  }
  @include for-size(tablet-portrait) {
    &__section-one-image {
      margin-bottom: -180px;
    }
    &__section-one-text {
      margin: 180px auto 80px;
    }
    &__section-three-image {
      max-height: 350px;
    }
  }
  @include for-size(phone-large) {
    &__section-one-image {
      margin-bottom: -100px;
    }
    &__section-one-text {
      margin: 100px auto 60px;
    }
    &__section-three-image {
      max-height: 300px;
    }
  }
}