@import "../Mixins.scss";

.support {
  width: 100%;
  padding: 120px 0;
  background: linear-gradient(178.98deg, #020202 3.72%, #0A4C61 160.38%);
  &__title {
    @include text(3rem, 300, 4.1rem);
    margin-bottom: 60px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
  }
  &__question,
  &__answer {
    @include fixed-container();
    color: #FFFFFF;
    padding: 35px 5%;
  }
  &__question {
    @include text(1.8rem, 300, 2.5rem);
    background-color: rgba(10, 76, 97, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    text-transform: uppercase;
  }
  &__answer {
    margin-bottom: 40px;
    white-space: pre-wrap;
    text-align: justify;
  }
  @include for-size(desktop) {
    &__question,
    &__answer {
      padding: 25px 5%;
    }
  }
  @include for-size(tablet-portrait) {
    padding: 100px 0;
    &__title {
      margin-bottom: 40px;
      font-size: 2.6rem;
    }
    &__question,
    &__answer {
      padding: 20px 5%;
    }
  }
  @include for-size(phone-large) {
    &__question {}
    &__answer {
      padding: 16px 3%;
    }
  }
}
