@import "../Mixins.scss";

.terms {
  width: 100%;
  padding: 120px 4%;
  background: linear-gradient(178.98deg, #020202 3.72%, #0A4C61 160.38%);
  &__tabs {
    @include grid(repeat(7, 1fr), 30px);
    @include fixed-container();
  }
  &__tab {
    @include primary-button();
    position: relative;
    padding: 8px 10px;
    background-color: rgba(0, 203, 216, 0.26);
    border: 1px solid #00CBD8;
    border-radius: 33px;
    &:nth-child(1) {
      grid-area: 1 / 1 / 1 / 3;
    }
    &:nth-child(2) {
      grid-area: 1 / 3 / 1 / 5;
    }
    &:nth-child(4) {
      grid-area: 1 / 6 / 1 / 8;
    }
    &:nth-child(5) {
      grid-area: 2 / 1 / 3 / 3;
    }
  }
  &__tab-text {}
  &__content {
    @include fixed-container();
  }
  &__content-title {
    @include text(3rem, normal, 4.1rem);
    margin: 25px 0;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
  }
  &__content-text {
    @include text(1.4rem, normal, 2.1rem);
    white-space: pre-wrap;
    color: #FFFFFF;
  }
  @include for-size(desktop) {
    &__tabs {
      grid-template-columns: repeat(5, 1fr);
    }
    &__tab {
      &:nth-child(1) {
        grid-area: 1 / 1 / 1 / 3;
      }
      &:nth-child(2) {
        grid-area: 1 / 3 / 1 / 5;
      }
      &:nth-child(4) {
        grid-area: 2 / 1 / 3 / 3;
      }
      &:nth-child(5) {
        grid-area: 2 / 3 / 3 / 5;
      }
    }
    &__content-title {
      font-size: 2.8rem;
      line-height: 3.8rem;
    }
  }
  @include for-size(tablet-portrait) {
    &__tabs {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;
    }
    &__tab {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5) {
        grid-area: auto;
      }
    }
    &__content-title {
      font-size: 2.6rem;
      line-height: 3.6rem;
    }
  }
  @include for-size(phone-medium) {
    &__tabs {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    &__content-title {
      font-size: 2.4rem;
      line-height: 3.4rem;
    }
  }
}