@import "./Mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif;
}
body {
  font-size: 1.6rem;
}

:root {}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:active {
  transform: translateY(4px);
}

.layout {}

.up__button {}
