@mixin for-size($size) {
  @if $size == phone-small {
    @media (max-width: 320px) {
      @content;
    }
  } @else if $size == phone-medium {
    @media (max-width: 375px) {
      @content;
    }
  } @else if $size == phone-large {
    @media (max-width: 425px) {
      @content;
    }
  } @else if $size == phone-xlarge {
    @media (max-width: 535px) {
      @content;
    }
  } @else if $size == tablet-portrait {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == tablet-landscape {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $size == desktop {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $size == big-desktop {
    @media (max-width: 1440px) {
      @content;
    }
  }
}
@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: ($columns);
  grid-gap: ($gap);
}
@mixin text($size, $weight, $line-height) {
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}
@mixin general-input() {
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  padding: 15px 20px;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  max-height: 49px;
}
@mixin primary-button {
  @include flex(center);
  @include text(1.4rem, normal, 1.8rem);
  display: inline-flex;
  background: var(--red);
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@mixin fixed-container() {
  max-width: 1440px;
  margin: auto;
  width: 92%;
}
@mixin background() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin primary-button {
  border: 1px solid #00cbd8;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  text-decoration: none;
  p {
    @include text(1.4rem, bold, 1.9rem);
    color: white;
  }
}
